.list {
  padding: 0;
  margin: 0px;
}

.listItem {
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  transition: 0.3s hover;
}

.listItem:hover {
  background-color: #ffffff;
}

.link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.active {
  pointer-events: none;
  background-color: #000000;
  color: #ffffff;
}
