html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 20%;
  background-color: azure;
  border-right: 1px solid #d8d8d8;
}
.content {
  width: 80%;
  background-color: cornsilk;
  padding: 20px;
}
